/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style header */
header {
    background-color: #333;
    color: #110ec8;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

nav ul {
    list-style-type: circle;
}

nav ul li {
    display: inline-block;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
